*{
    margin: 0;
    padding: 0;
}

section#color-palette{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;

    max-width: 50%;

    margin: 2rem auto;
    padding: 2px;

}

h1 {
    text-align: center;
    margin: 0.8rem 0;
}

.color {
    min-width: 80px;
    height: 80px;

    margin: 8px;
    border: 1px solid black;

}

#backgroundBack {
    background-color: rgb(0, 0, 0);
}

#backgroundBlueviolet {
    background-color: blueviolet;
}

#backgroundFirebrick {
    background-color: firebrick;
}


#backgroundAqua {
    background-color: aqua;
}

#pixel-board {
    text-align: center;
 
}

/* 5 - Faça com que cada elemento do quadro de pixels possua 40 pixels de largura, 40 pixels de altura e seja delimitado por uma borda preta de 1 pixel. */
.pixel {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: inline-block;
}